body {
  background: linear-gradient(
      to top,
      rgb(251, 194, 235) 0%,
      rgb(166, 193, 238) 100%
    )
    fixed;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

.app-container {
  background: #fff;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(132, 170, 189, 0.8);
  border-radius: 16px;
}
