body {
  background: linear-gradient(
      to top,
      rgb(251, 194, 235) 0%,
      rgb(166, 193, 238) 100%
    )
    fixed;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

.app-container {
  background: #fff;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(132, 170, 189, 0.8);
  border-radius: 16px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-form-input {
  background: rgba(166, 193, 238, 0.1);
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background: rgb(166, 193, 238);
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
}
