body {
  background: linear-gradient(
      to top,
      rgb(251, 194, 235) 0%,
      rgb(166, 193, 238) 100%
    )
    fixed;
  font-family: "Roboto", sans-serif;
}

a {
  color: rgb(166, 193, 238);
}

h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

.app-description {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  margin-top: 10px;
}

.app-container {
  background: #fff;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(132, 170, 189, 0.8);
  border-radius: 16px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-form-input {
  background: rgba(166, 193, 238, 0.1);
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background: rgb(166, 193, 238);
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  transition: all 200ms ease-in-out;
}

.search-form-button:hover {
  background: #f65282;
}

main {
  padding: 30px 0;
}

.weather-app {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
}

.weather-app-details {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-icon {
  width: 75px;
  position: relative;
  top: 10px;
}

.weather-app-value {
  font-size: 80px;
  font-weight: 900;
  margin-left: 8px;
}

.weather-app-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
